body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: 70px;
    background-color: #656565;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__website-name {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    line-height: 1.1;
    color: white;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    transition: width 0.3s ease;
}

.header__logo {
    width: 70px;
    height: auto;
    margin-right: 10px;
    transition: width 0.3s ease;
}

.header__title {
    margin: 0;
}

.navigation {
    position: absolute;
    top: 0;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    padding: 1px;
    text-transform: uppercase;
}

.navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation__item {
    margin-right: 20px;
}

.navigation__link {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.3s;
}

.navigation__link:hover {
    text-decoration: underline overline;
}

.navigation__link--active {
    text-decoration: underline overline;
    font-weight: bold;
}

.main {
    padding: 20px;
}

.reviews-section form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.reviews-section form label {
    font-size: 18px;
    margin-bottom: 5px;
}

.reviews-section form input, .reviews-section form textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 300px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reviews-section form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 25%;
}

.reviews-section form button:hover {
    background-color: #0056b3;
}

.image-placeholder {
    width: 40%;
    height: 300px;
    background-image: url('assets/slash.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#reviews-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#reviews-table th, #reviews-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#reviews-table th {
    background-color: #f4f4f4;
    font-size: 18px;
}

#reviews-table td {
    font-size: 16px;
}


.comments-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comments-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

#comments-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comment-item p {
    margin: 0;
}

.comment-item .author {
    font-weight: bold;
    color: #555;
}

.comment-item .comment-body {
    margin-top: 10px;
    color: #333;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: url('assets/skala.gif') center;
    background-size: contain;
}


.error-message {
    color: #e74c3c;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    background-color: #f8d7da;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    margin-top: 20px;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .header {
        height: 50px;
        width: 100%;
    }
    .header__website-name .header__logo {
        width: 40px;
    }

    .header__website-name h1 {
        font-size: 1.5rem;
    }

    .navigation {
        top: 8px;
        font-size: 0.7rem;
    }

    .products__item img {
        height: 150px;
    }
}

@media screen and (min-width: 640px) and (max-width: 900px) {
    .header {
        height: 50px;
        width: 100%;
    }
    .header__website-name .header__logo {
        width: 40px;
    }

    .header__website-name h1 {
        font-size: 1.5rem;
    }

    .navigation {
        top: 3px;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 900px) and (max-width: 1280px) {
    .header {
        height: 60px;
        width: 100%;
    }
    .header__website-name .header__logo {
        width: 60px;
    }

    .header__website-name h1 {
        font-size: 1.7rem;
    }

    .navigation {
        top: 1px;
        font-size: 1.1rem;
    }

}

